<footer class="footer">

  <div class="footer-right">

    <a style="background-color: #3B5998;" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a style="background-color: #00aff0;" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
    <a style="background-color: #665ed0" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
    <a style="background-color: #6cc644;" href="https://github.com/"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">
    <a target="_blank" href="#" class="footer-logo" rel="nofollow">
      <img src="{{ url_for('static', filename='images/pinhead.png') }}" alt="Who You Calling Pinhead">
    </a>
      <p class="footer-links">
        <a href="#">Home</a> ·
        <a href="#">Blog</a> ·
        <a href="#">About</a> ·
        <a href="#">Faq</a> ·
        <a href="#">Contact</a>
      </p>
    <p>Pinhead Games &copy; 2018</p>
  </div>

</footer>
