<!-- extends layout -->
{% extends 'layout.html' %}

<!-- html body -->
{% block body %}
<div class="page-container">
  <div class="log-form">
  <h2>Login</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}
